* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Nerko One', cursive;
}

h1 {
    margin-bottom: 20px;
    font-size: 4rem;
}
.gioco {
    background-color: black;
    padding: 50px;
    border-radius: 10px;
}

.dadi {
    font-size: 3rem;
}

.item {
    padding: 20px 0;
    color: #fff;
    font-size: 2rem;
}
